body {
  background: linear-gradient(25deg, #000000 0%, #fad0c4 99%, #fad0c4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: rgb(233, 20, 20);
  padding: 30px 45px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 45px;
  margin-bottom: 10px;
  color: white;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.timer {
  font-size: 60px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.0005);
  }
}

.timer span {
  width: 110px;
  display: inline-block;
  text-align: center;
}

.control {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
}

button:hover {
  background-color: #ffb6c1;
}

.lap-title {
  font-size: 1.5rem;
  color: white;
}

.laps {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  color: white;
}
